<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Movie | <%=movieInfo.title%>
    </title>
    <link rel="stylesheet" href="/styles/darkMode.css">
    <link rel="stylesheet" href="/styles/movie.css">
    <script src="/scripts/handleDarkMode.js" type="module" defer></script>
</head>

<body>

    <div id="movie">
        <header>
            <a href="/">
                <img src="#" alt="logotipo">
            </a>
            <input type="checkbox" name="switch" id="switch">
        </header>
        <main>
            <div id="content" class="flex-row">
                <div id="image-container" class="col-lg-3 col-md-6 col-sm-12">
                    <img src="<%=movieInfo.image%>" alt="<%=movieInfo.title%> movie poster">
                </div>
                <div id="info-container" class="col-lg-9 col-md-6 col-sm-12">
                    <h1>
                        <%=movieInfo.title%>
                    </h1>
                    <ul>
                        <li>
                            <p>Rating: <%=movieInfo.rating%>
                            </p>
                        </li>
                        <li>
                            <p>Type: <%=movieInfo.imdb_type%>
                            </p>
                        </li>
                        <li>
                            <p>Run Time: <%=movieInfo.runtime%>
                            </p>
                        </li>
                        <li>
                            <p>Genres: <%=movieInfo.genres%>
                            </p>
                        </li>
                        <li>
                            <p>Languages: <%=movieInfo.languages%>
                            </p>
                        </li>
                        <li>
                            <p>Description: <%=movieInfo.description%>
                            </p>
                        </li>
                        <li>
                            <p>Actors: <%=movieInfo.actors.name%>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>footer</footer>
    </div>

</body>

</html>